{% extends "base.html" %}

{% block title %}Inicio - Mi App de macotas y vuelos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
        <h1 class="display-4  mb-4"><strong>Bienvenido a la Plataforma de Vehículos y Combustibles</strong> </h1>
        <p class="lead">Explora, gestiona y visualiza información clave sobre tus vehículos de combustión y los precios de sus combustible.</p>
        <hr class="my-4">
        <p>Nuestra aplicación te permite mantener un registro detallado de tus automóviles, así como acceder a los precios de los diferentes tipos de combustible fosiles o de gas.</p>
        <div class="cards-container mt-4">
           <div class="mt-4">
                <a class="btn btn-success btn-lg custom-hover-effect" href="/vehiculos/crear" role="button">
                    <i class="bi bi-plus-circle-fill me-2"></i>¡Registra un Nuevo Vehículo Ahora!
                </a>
            </div>
        </div>
    </div>

    
   
    <h2 class="text-center mt-5 mb-4 ">Nuestras Funcionalidades Clave</h2>
    <div class="cards-container"> 
        <a  class="info-card">
            <img src="{{ url_for('statics', path='img/motors2.png') }}" alt="Vehículos de Combustión">
            <div class="info-card-overlay">
                <h3><i class="bi bi-car-pump me-2"></i></h3>
                <p>
                    Los vehículos de combustión interna, impulsados por gasolina, diésel o gas, han sido la columna vertebral del transporte global durante más de un siglo. Su funcionamiento se basa en la quema controlada de combustible dentro de un motor para generar la energía necesaria para el movimiento. Aunque la tecnología avanza hacia alternativas más ecológicas, los motores de combustión siguen siendo dominantes y fundamentales para la infraestructura actual.
                </p>
                <p>
                    En esta plataforma, podrás registrar las especificaciones de tus vehículos de combustión, como la marca, modelo, año y el tamaño de su tanque de combustible, lo que te ayudará a llevar un control más preciso de tus activos automotrices.
                </p>
            </div>
        </a>

        <a  class="info-card">
            <img src="{{ url_for('statics', path='img/gasolinas3.png') }}" alt="Tipos de Combustible">
            <div class="info-card-overlay">
                        usan varios tipos de combustibles para funcionar:
                        <ul>
                        <li>Gasolina: El más común para coches, se clasifica por su octanaje (Corriente, super).</li>
                        <li>Diésel: Usado en camiones y algunos coches, es más eficiente que la gasolina.</li>
                        <li>Gas natural: utilizado como combustible para vehículos, compuesto principalmente por metano</li>
                    </ul>
                <p>
                    Nuestra sección de precios de combustible te proporcionará información actualizada sobre los costos por galón en diferentes ciudades y localidades, ayudándote a tomar decisiones informadas sobre dónde y cuándo repostar. Esto es crucial para optimizar tus gastos de transporte.
                </p>
            </div>
        </a>

        <a  class="info-card">
            <img src="{{ url_for('statics', path='img/costos1.png') }}" alt="Búsqueda de Costo de Tanqueo">
            <div class="info-card-overlay">
 
                <p>
                    Estima el costo total de llenar el tanque de tu vehículo. Nuestra herramienta te permite calcularlo basándose en la marca, modelo, tamaño del tanque de tu vehículo y los precios de combustible actualizados en diferentes ciudades y localidades.
                </p>
                <p>
                    Obtén información precisa y toma decisiones inteligentes para optimizar tus gastos de combustible y la gestión de tus vehículos de manera eficiente.
                </p>
            </div>
        </a>
    </div>
</div>
{% endblock %}